[submodule "tools/WoW-Spell-Editor"]
	path = tools/WoW-Spell-Editor
	url = https://github.com/stoneharry/WoW-Spell-Editor.git
[submodule "apps/patchgenerator/wow_dbc"]
	path = apps/patchgenerator/wow_dbc
	url = https://github.com/Turor/wow_dbc.git
[submodule "apps/aio"]
	path = apps/aio
	url = https://github.com/Turor/AIO.git
[submodule "apps/transmog"]
	path = apps/transmog
	url = https://github.com/Turor/Transmogrification.git
[submodule "apps/teleporter"]
	path = apps/teleporter
	url = https://github.com/Turor/TeleportSelector.git
[submodule "apps/consoleport-lk"]
	path = apps/consoleport-lk
	url = git@github.com:Turor/ConsolePortLK.git
